/* CareerOpportunities.css */
.titleImageOP {
  display: flex;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 60vh;
  min-height: 250px;
  width: 100vw;
  background-attachment: fixed;
  position: relative;
  z-index: -1;
}

.contentOP {
  display: flex;
  flex-direction: column;
  background-color: #f6f6f6;
}

.navBarOP {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-top: 50px;
  padding-bottom: 50px;
  margin-left: 100px;
  margin-right: 100px;
}

.navBarTextOP {
  font-size: 1.7vw;
  margin-bottom: 0px;
}

@media screen and (max-width: 1650px) {
  .navBarTextOP {
    font-size: 20pt;
  }
}
@media screen and (max-width: 1200px) {
  .navBarTextOP {
    font-size: 18pt;
  }
}

@media screen and (max-width: 1000px) {
  .navBarTextOP {
    font-size: 16pt;
  }
  .navBarOP {
    margin-left: 50px;
    margin-right: 50px;
  }

}
@media screen and (max-width: 800px){
  .navBarTextOP {
    font-size: 14pt;
  }
  
}
@media screen and (max-width: 600px){
  .navBarOP {
    margin-left: 20px;
    margin-right: 20px;
  }

}