

.text {
  padding-top:25px;
  display: flex;
  flex-direction: column;
  margin-left: 5%;
  margin-right: 12.5%;
}

.text p {
  font-size: 25pt;
}
.text .header {
  font-size: 60pt;
  margin-top: 100px;
  margin-bottom: 30px;
}

.buttonCP {
  color: #374f59;
  margin-left: 5%;
  margin-top: 40px;
  margin-bottom: 175px;
  background-color: white;
  border: 0;
  width: 400px;
  height: 90px;
  border-radius: 25px;
  font-size: 20pt;
  cursor: pointer;
}

.button-hover {
  box-shadow: 1px 1px 20px #000000;
}

@media screen and (max-width: 1200px) and (orientation: portrait) {
  .text {
    margin-right: 5%;
  }
  .text p {
    font-size: 20pt;
  }
  .text .header {
    font-size: 50pt;
  }
  .buttonCP {
    margin-right: 5%;
    font-size: 20pt;

  }
}
@media screen and (max-width: 900px) and (orientation: portrait) {
  .text {
    margin-right: 25px;
    margin-left: 25px;
  }
  .text p {
    font-size: 18pt;
  }
  .text .header {
    font-size: 45pt;
  }
  .buttonCP {
    margin-right: 25px;
    margin-left: 25px;
    font-size: 18pt;
    width: 335px;
    height: 70px;
    border-radius: 21px;
  }
}
@media screen and (max-width: 700px) and (orientation: portrait) {
  .text p {
    font-size: 16pt;
  }
  .text .header {
    font-size: 40pt;
  }
  .buttonCP {
    font-size: 18pt;
    width: 300px;
    height: 62px;
    border-radius: 19px;
  }
}
@media screen and (max-width: 500px) and (orientation: portrait) {
  .text p {
    font-size: 14pt;
  }
  .text .header {
    font-size: 30pt;
  }
  .buttonCP {
    font-size: 14pt;
    width: 250px;
    height: 55px;
    border-radius: 15px;
  }
}
