

.text {
  padding-top:25px;
  display: flex;
  flex-direction: column;
  margin-left:100px;
  margin-right: 250px;
}

.text p {
  font-size: 1.7vw;
}
.text .header {
  font-size: 4.5vw;
  margin-top: 100px;
  margin-bottom: 30px;
}

.buttonCP {
  color: white;
  margin-left:100px;
  margin-top: 40px;
  margin-bottom: 175px;
  background-color: #408697;
  border: 0px;
  width: 400px;
  height: 90px;
  border-radius: 25px;
  font-size: 25pt;
  cursor: pointer;
}

.button-hover {
  box-shadow: 1px 1px 20px #000000;
}
@media screen and (max-width: 1600px) {
  .text p {
    font-size: 20pt;
  }
  .text .header {
    font-size: 50pt;
  }
}
@media screen and (max-width: 1300px){
  .text {
    margin-right: 100px;
  }
}
@media screen and (max-width: 1000px) {
  .text p {
    font-size: 18pt;
  }
  .text .header {
    font-size: 45pt;
  }
  .text {
    margin-right: 50px;
    margin-left: 50px;
  }
}
@media screen and (max-width: 900px) and (orientation: portrait) {
  
}
@media screen and (max-width: 700px) and (orientation: portrait) {
  .text p {
    font-size: 16pt;
  }
  .text .header {
    font-size: 40pt;
  }
  .buttonCP {
    font-size: 18pt;
    width: 300px;
    height: 62px;
    border-radius: 19px;
  }
}
@media screen and (max-width: 500px) and (orientation: portrait) {
 
}
