/* CareerList.css */
.careersCL {
    margin-left: 200px;
    margin-right: 200px;
  }
  
  .postingsCL {
    margin: 50px;
  }
  .headerCL{
    font-size: 40pt;
  }
  
  .careerTitleCL {
    font-size: 30px;
    font-weight: bold;
  }
  .textCL{
    font-size: 14pt;
  }
  .applyButtonCL {
    border: none;
    border-radius: 10px;
    background: #6e9477;
    color: white;
    padding: 5px;
    width: 75px;
    cursor: pointer;
    font-size: 16pt;
  }
  
  .applyButtonCL:hover {
    background: #5b7c61; 
  }
  @media screen and (max-width: 1600px){
    .postingsCL {
        margin: 50px 0px 50px 0px;
      }
      .careersCL {
        margin-left: 100px;
        margin-right: 100px;
      }
      .headerCL{
        font-size: 35pt;
      }
  }
  @media screen and (max-width: 1000px){
    
      .careersCL {
        margin-left: 50px;
        margin-right: 50px;
      }
      .textCL{
        font-size: 12pt;
      }
       
  .careerTitleCL {
    font-size:25px;
  }
  .applyButtonCL {
   
    padding: 5px;
    width: 70px;
    font-size: 14pt;
  }
  }