/* CareerList.css */
.careersCL {
  margin-left: 200px;
  margin-right: 200px;
}

.postingsCL {
  margin: 50px;
}
.headerCL {
  font-size: 4vw;
}

.careerTitleCL {
  font-size: 2.5vw;
  font-weight: bold;
}
.textCL {
  font-size: 1.2vw;
}
.applyButtonCL {
  border: none;
  border-radius: 10px;
  background: #408697;
  color: white;
  padding: 5px;
  width: 75px;
  cursor: pointer;
  font-size: 16pt;
}

.applyButtonCL:hover {
  background: #346672;
}
@media screen and (max-width: 1600px) {
  .postingsCL {
    margin: 50px 0px 50px 0px;
  }
  .careersCL {
    margin-left: 100px;
    margin-right: 100px;
  }
  .headerCL {
    font-size: 45pt;
  }
  .careerTitleCL {
    font-size: 30pt;
  }
  .textCL {
    font-size: 14pt;
  }
}
@media screen and (max-width: 1000px) {
  .careersCL {
    margin-left: 50px;
    margin-right: 50px;
  }
  .headerCL {
    font-size: 40pt;
  }
  .careerTitleCL {
    font-size: 27pt;
  }
  .applyButtonCL {
    padding: 5px;
    width: 70px;
    font-size: 14pt;
  }
}
@media screen and (max-width: 800px) {
  .careersCL {
    margin-left: 25px;
    margin-right: 25px;
  }
}
@media screen and (max-width: 600px) {
  .headerCL {
    font-size: 35pt;
  }
  .careerTitleCL {
    font-size: 25pt;
  }
}
@media screen and (max-width: 450px) {
  .careersCL {
    margin-right: 10px;
  }
}