/* CareerOpportunities.css */
.titleImageOP {
  display: flex;
  background-size: cover;
  background-repeat: no-repeat;
  height: 80vh;
  width: 100vw;
  background-attachment: fixed;
  position: relative;
  z-index: -1;
}

.mainTextOP {
  display: flex;
  align-items: center;
  color: pink;
}

.contentOP {
  display: flex;
  flex-direction: column;
  background-color: #f6f6f6;
}

.navBarOP {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 50px;
  margin-left: 150px;
  margin-right: 150px;
}

.navBarTextOP {
  font-size: 1.4vw;
  margin-bottom: 0px;
}

@media screen and (max-width: 1600px) {
  .navBarOP {
    margin-right: 0px;
    margin-left: 50px;
  }
  .navBarTextOP {
    font-size: 16pt;
    margin-bottom: 0px;
  }
}

@media screen and (max-width: 1000px) {
  .navBarOP {
    margin-left: 0px;
    flex-direction: column;
  }

}
@media screen and (max-width: 800px){
  .navBarOP {
    padding: 50px 25px 50px 25px;
  }
  .titleImageOP {
    background-size: auto;
    height: 40vh;
   
  }
  
}
@media screen and (max-width: 600px){
  .navBarTextOP {
    font-size: 14pt;
  }
}
@media screen and (max-width: 450px) {
  .navBarOP {
    padding: 50px 10px 50px 25px;
  }
}