.navbar {
  position: fixed;
  display: flex;
  justify-content: space-between; /* Align items horizontally */
  align-items: center; /* Vertically center items */
  background-color: white;
  width: 100vw;
  z-index: 1000;
}

.link-container {
  display: flex;
  align-items: center;
  margin-right: 50px;
}

.nav-link {
  border: none;
  color: black;
  text-decoration: none;
  padding: 10px;
  font-size: 16pt;
}

/* Hover effect for links */
#link1:hover,
#link2:hover,
#link3:hover,
#link4:hover {
  background-color: #e0e6e9;
}

/* Dropdown styles */
.dropdown-toggle {
  color: black;
  background-color: transparent;
  border: none;
  font-size: 16pt;
}

.dropdown-menu {
    border: none;
    width: 300px; /* Set the width to 300px */
  }
  
  .dropdown-item {
    white-space: normal; /* Allow text wrapping */
  }

/* Additional styles for dropdown toggle when hovered or dropdown menu is open */
.dropdown-toggle:hover,
.dropdown-toggle:focus,
.dropdown-toggle:active,
.dropdown-menu.show .dropdown-toggle {
  background-color: #e0e6e9;
  color: black;
  border: none;
}
.Denali-Logo {
  margin-left: 100px;
}

@media screen and (max-width: 900px) and (orientation: portrait) {
    .Denali-Logo {
        margin-left: 50px;
        height: 60px;
      }
      .nav-link {
        padding: 10px;
        font-size: 14pt;
      }
      .dropdown-toggle {
        font-size: 14pt;
      }
}
@media screen and (max-width: 700px) and (orientation: portrait) {
    .Denali-Logo {
        margin-left: 30px;
        height: 50px;
      }
}
@media screen and (max-width: 500px) and (orientation: portrait) {
    .link-container {
        flex-wrap: wrap;
      }
}
