/* HomeMainSection.css */
.headImageHM {
    background-image: url('../images/Home_Page.jpg');
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    height: 100vh;
    width: 100%;
    margin: 0;
    padding: 0;
    position: relative;
    z-index: -1;
  }
  
  .mainTextHM {
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    font-size: 50pt;
    text-align: center;
    position: relative;
    z-index: 1;
    margin: 0;
    height: 100vh;
  }
  
  