body{
  height: 100vh;
}

.headImageHM {
  background-image: url('../images/Home_Page.png');
  background-size:auto;
  background-attachment:fixed;
  background-repeat: no-repeat;
  height: 100vh;
  width: 100vw;
  margin: 0;
  padding:0 150px;
  position: relative;
  z-index: -1;

}

.headImageHM p {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  text-align: center;
  position: relative;
  z-index: 1;
}

.mainTextHM {
  color: white;
  font-size: 4.5vw;
}
@media screen {
  
}
  
@media screen and (max-width: 1600px){
  .mainTextHM {
    font-size: 50pt;
  }
}
@media screen and (max-width: 900px){
  .mainTextHM {
    font-size: 45pt;
  }
  .headImageHM {
    padding:0 50px 0 50px;
  }
}
@media screen and (max-width: 1200px) and (max-height: 1400px)  {
  .headImageHM{
    background-size: cover;
    height: 100%;
    width: 100%;
    padding:0px 15px 30px 15px;
  }
}
@media screen and (max-width: 750px){
  .mainTextHM {
    font-size: 40pt;
  }
}
@media screen and (max-width: 500px){
  .mainTextHM {
    font-size: 40pt;
  }
}
@media screen and (max-width: 400px){
  .mainTextHM {
    font-size: 37pt;
  }
}
@media screen and (max-width: 300px){
  .mainTextHM {
    font-size: 35pt;
  }
}

