.contentID {
  padding-top: 100px;
  padding-bottom: 75px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.imgID {
  width: 40vw;
  height: 70vh;
  object-fit: cover;
  margin: 75px 50px 75px 50px;
}

.textID {
  margin-left: 25px;
  margin-right: 50px;
  color: black;
}

.textID p {
  font-size: 1.7vw;
}

.textID .headerID {
  font-size: 4.5vw;
}

.buttonID {
  color: white;
  background-color: #408697;
  margin-top: 40px;
  margin-bottom: 40px;
  border: 0px;
  width: 400px;
  height: 90px;
  border-radius: 25px;
  font-size: 25pt;
  cursor: pointer;
}

.button-hoverID {
  box-shadow: 1px 1px 20px #000000;
}

@media screen and (max-width: 1600px) {
  .textID p {
    font-size: 20pt;
  }
  
  .textID .headerID {
    font-size: 50pt;
  }
}

@media screen and (max-width: 1400px) {
  .imgID {
    width: 45vw; 
  }
}

@media screen and (max-width: 1200px) {
  .imgID {
    height: 70vh;
    margin: 100px 25px 100px 25px;
  }
  .buttonID {
    width: 300px;
    height: 80px;
    border-radius: 20px;
    font-size: 18pt;
    cursor: pointer;
  }
}

@media screen and (max-width: 1000px) {
  .contentID {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .textID {
    order: 3;
    text-align: center;
  }

  .textID p {
    font-size: 18pt;
  }

  .textID .headerID {
    font-size: 45pt;
    margin-bottom: 20px;
    order: 1; /* Ensure order is explicitly set */
  }

  .imgID {
    width: 80vw;
    height: 50vh;
    margin: 0;
    order: 2;
  }

  .buttonID {
    width: 250px;
    height: 65px;
    border-radius: 17px;
    font-size: 16pt;
    cursor: pointer;
    margin-top: 20px;
    order: 4; /* Ensure order is explicitly set */
  }
}

@media screen and (max-width: 750px) {
  .contentID {
    display: flex;
    flex-direction: column;
    align-items: center; /* Added alignment */
    text-align: center; /* Center text */
  }

  .textID p {
    order: 3; /* Ensure order is explicitly set */
    font-size: 14pt;
  }

  .textID .headerID {
    font-size: 25pt;
    order: 1; /* Ensure order is explicitly set */
  }

  .imgID {
    width: 60vw;
    height: 50vh;
    margin: 0px 50px 50px 50px;
    order: 2; /* Ensure order is explicitly set */
  }

  .buttonID {
    order: 4; /* Ensure order is explicitly set */
    width: 225px;
    height: 60px;
    border-radius: 15px;
    font-size: 14pt;
    cursor: pointer;
  }
}


@media screen and (max-width: 600px) {
  .headerID {
    font-size: 20pt;
  }
  .imgID {
    width: 60vw;
    height: 45vh;
    margin: 0px 30px 50px 30px;
    order: 2;
  }
  .buttonID {
    width: 225px;
    height: 60px;
    border-radius: 15px;
    font-size: 14pt;
    cursor: pointer;
  }
}

@media screen and (max-width: 500px) {
  .imgID {
    display: none;
  }
  .buttonID {
    margin-bottom: 40px;
  }
}

body {
  overflow-x: hidden; /* Prevent horizontal scrolling */
}
