.contentID {
  display: flex;
  justify-content: center;
  align-items: center;
}

.imgID {
  width: 40vw;
  height: 70vh;
  margin: 75px 50px 75px 50px;
}

.textID {
  margin-left: 25px;
  margin-right: 50px;
  color: white;
}

.textID p {
  font-size: 20pt;
}

.textID .headerID {
  font-size: 60pt;
}

.buttonID {
  color: white;
  background-color: #374f59;
  margin-top: 40px;
  border: 0px;
  width: 400px;
  height: 90px;
  border-radius: 25px;
  font-size: 20pt;
  cursor: pointer;
}

.button-hoverID {
  box-shadow: 1px 1px 20px #000000;
}

@media screen and (max-width: 1200px) {
  .textID p {
    font-size: 18pt;
  }

  .textID .headerID {
    font-size: 45pt;
  }
  .imgID {
    width: 40vw;
    height: 60vh;
    margin: 100px 50px 100px 50px;
  }
  .buttonID {
    width: 300px;
    height: 80px;
    border-radius: 20px;
    font-size: 18pt;
    cursor: pointer;
  }
}

@media screen and (max-width: 1000px) {
  .textID p {
    font-size: 16pt;
  }

  .textID .headerID {
    font-size: 35pt;
  }
  .imgID {
    width: 40vw;
    height: 50vh;
    margin: 100px 50px 100px 50px;
  }
  .buttonID {
    width: 250px;
    height: 65px;
    border-radius: 17px;
    font-size: 16pt;
    cursor: pointer;
  }
}

@media screen and (max-width: 900px) {
  .textID .headerID {
    margin-top: 20px;
    font-size: 30pt;
  }
  .imgID {
    width: 40vw;
    height: 45vh;
    margin: 50px 30px 50px 30px;
  }
  .buttonID {
    width: 250px;
    height: 65px;
    border-radius: 17px;
    margin-top: 10px;
    margin-bottom: 20px;
    font-size: 16pt;
    cursor: pointer;
  }
}

@media screen and (max-width: 750px) {
  .contentID {
    display: flex;
    flex-direction: column;
    text-align: center;
  }
  .textID p {
    font-size: 14pt;
  }

  .headerID {
    font-size: 25pt;
    order: 1;
  }
  .imgID {
    width: 60vw;
    height: 50vh;
    margin: 0px 50px 50px 50px;
    order: 2;
  }
  .buttonID {
    width: 225px;
    height: 60px;
    border-radius: 15px;
    font-size: 14pt;
    cursor: pointer;
  }
}
@media screen and (max-width: 600px) {
  .headerID {
    font-size: 20pt;
  }
  .imgID {
    width: 60vw;
    height: 45vh;
    margin: 0px 30px 50px 30px;
    order: 2;
  }
  .buttonID {
    width: 225px;
    height: 60px;
    border-radius: 15px;
    font-size: 14pt;
    cursor: pointer;
  }
}
@media screen and (max-width: 500px) {
  .imgID {
    display: none;
  }
  .buttonID {
    margin-bottom: 40px;
  }
}
