.contentNC {
  position: relative;
  padding: 200px 100px 150px 100px;
  min-height: 78vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;

}


.contentNC::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("../images/NoCareers.jpg");
  background-size: cover;
  background-position: center;
  opacity: 0.85; /* Set the desired opacity here */
  z-index: -1;
}

.textNC {
  font-size: 3.7vw;
  color: white;
}

.buttonNC {
  color: white;
  margin-top: 50px;
  margin-bottom: 20px;
  background-color: #408697;
  border: 0px;
  width: 400px;
  height: 75px;
  border-radius: 25px;
  font-size: 25pt;
  cursor: pointer;
  z-index: 1;
}

.button-hoverNC {
  background-color: white;
  color: #346c7a;
  border: 2px solid #408697;
  transition: background-color 0.5s ease-out, color 0.4s ease-out, border 0.2s ease; 
}
@media screen and (max-width: 1650px){
  .textNC {
    font-size: 45pt;
  }
}
@media screen and (max-width: 1200px){
  .textNC {
    font-size: 35pt;
  }
  .buttonNC {
    width: 350px;
    height: 75px;
    border-radius: 23px;
    font-size: 20pt;
  }
}
@media screen and (max-width: 1000px) {
  .contentNC{
    padding: 175px 50px 150px 50px;
  }
}
@media screen and (max-width: 800px) {
  .textNC {
    font-size: 25pt;
  }
  .buttonNC {
    width: 300px;
    height: 70px;
    border-radius: 22px;
    font-size: 18pt;
  }
}
@media screen and (max-width: 750px) {
  .contentNC{
    padding: 125px 50px 150px 50px;
  }
  .buttonNC {
    width: 260px;
    height: 60px;
    border-radius: 20px;
    font-size: 16pt;
  }
}
@media screen and (max-width: 600px) {
  .textNC {
    font-size: 25pt;
  }
  .contentNC{
    padding: 125px 20px 150px 20px;
  }
}
