body {
  overflow-x: hidden; /* Prevent horizontal scrolling */
}

.layoutPS {
  display: flex;
  flex-direction: column;
  padding-top: 100px;
  color: black;
  overflow-x: hidden; /* Prevent overflow within layout */
  position: relative; /* Ensure relative positioning */
}

.titlePS {
  font-size: 4.5vw;
  margin-left: 100px;
}

.subtitlePS {
  font-size: 2.7vw;
  margin-top: 0px;
  margin-bottom: 100px;
  margin-left: 100px;
}

.carousel-image {
  width: 100%; /* Ensure images fill their container */
  max-height: 72vh; /* Maintain aspect ratio */
  object-fit: cover;
  display: block;
}

.dot {
  display: inline-block;
  width: 12px;
  height: 12px;
  background-color: #ccc;
  border-radius: 50%;
  margin: 0 7px 75px 7px;
  cursor: pointer;
}

.dot.active-dot {
  background-color: #000;
  width: 30px;
  border-radius: 10px;
  transition: width 0.4s ease-out; /* Transition width and height */
}

.dot.inactive-dot {
  background-color: #afafaf;
}

.carousel-wrapper {
  position: relative; /* This is now the positioning context for the arrows */
  width: 80vw;
  margin: 0 auto;
}

.carousel-arrow {
  position: absolute;
  top: 43%;
  transform: translateY(-50%); /* This will vertically center the arrows */
  font-size: 25pt;
  font-weight: 900;
  cursor: pointer;
}

.alice-carousel__stage-item {
  transition: opacity 4s ease-out;
}

.carousel-arrow-prev {
  left: -5%; /* Adjust as needed */
}

.alice-carousel__stage-item.__active {
  opacity: 1 !important;
}

.carousel-arrow-next {
  right: -5%; /* Adjust as needed */
}

.alice-carousel__stage-item.__inactive {
  opacity: 0 !important;
}

.image-container {
  position: relative;
}

.image-container.blur img {
  transition: 0.6s ease-in-out;
  filter: brightness(25%);
}

.buttonPS {
  position: absolute;
  bottom: 0px;
  left: 50%;
  border-radius: 10px;
  transform: translateX(-50%);
  color: white;
  background-color: #408697;
  width: 20vw;
  height: 50px;
  font-size: 16pt;
  cursor: pointer;
  z-index: 10;
  border: none;
}

.close-button {
  position: absolute;
  top: -15%;
  right: -15%;
  color: white;
  background: none;
  border: none;
  font-size: 18pt;
  cursor: pointer;
  z-index: 20;
  display: none;
}

.close-button.show {
  display: block;
}

.overlay-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  text-align: center;
  padding: 10px;
  opacity: 0;
}

.image-container {
  position: relative;
}

.image-container.blur img {
  transition: filter 0.6s ease-out;
  filter: brightness(25%);
}

.overlay-text.fade-in {
  opacity: 1;
}

.image-container:hover .close-button {
  display: block; /* Show close button on hover */
}

@media screen and (max-width: 1600px) {
  .titlePS {
    font-size: 50pt;
  }
  .subtitlePS {
    font-size: 35pt;
    margin-right: 50pt;
  }
  .buttonPS {
    border-radius: 7px;
    width: 270px;
  }
  .close-button {
    top: -20%;
    right: -2%;
    font-size: 18pt;
  }
  .overlay-text {
    width: 65vw;
  }
}

@media screen and (max-width: 1300px) {
  .overlay-text {
   top: 55%;
    width: 70vw;
  }
  .buttonPS {
    border-radius: 7px;
    width: 200px;
  }
  .close-button {
    right: -3%;
    font-size: 18pt;
  }
}

@media screen and (max-width: 1200px) {
  .close-button {
    top: -10%;
  }
  .overlay-text p {
    font-size: 16pt;
    width: 100%;
  }
}
@media screen and (max-width: 1100px) {
  .close-button {
    top: -8%;
    font-size: 18px;
  }
  .overlay-text {
    font-size: 14px;
  }
}

@media screen and (max-width: 1000px) {
  .titlePS {
    font-size: 45pt;
  }
  .subtitlePS {
    font-size: 25pt;
  }
  .overlay-text  {
    width: 80vw;
  }
  .overlay-text p {
    font-size: 13pt;
  }
  .buttonPS {
    border-radius: 7px;
    width: 150px;
    height: 40px;
    font-size: 14pt;
  }
  .close-button {
    top: -15%;
    right: 3%;
    font-size: 18pt;
  }
}

@media screen and (max-width: 900px) {
  .titlePS {
    font-size: 40pt;
    margin-left: 50px;
  }
  .subtitlePS {
    font-size: 20pt;
    margin-left: 50px;
  }
  .overlay-text  {
    top: 55%;
    width: 80vw;
  }
  .close-button {
    top: -10%;
    right: 3%;
    font-size: 16pt;
  }
 
}

@media screen and (max-width: 750px) {
  .titlePS {
    font-size: 35pt;
  }
  .subtitlePS {
    font-size: 18pt;
  }
  .carousel-wrapper {
    width: 100vw; /* Set the width of the carousel */
  }
  .carousel-image {
    max-height: 65vh;
  }
  .carousel-arrow-prev,
  .carousel-arrow-next {
    display: none;
  }
  .dot {
    top: -2%;
    width: 15px;
    height: 15px;
    margin: 0 10px 50px 10px;
  }
  .dot.active-dot {
    width: 33px;
    border-radius: 10px;
  }

  .overlay-text {
    top: 55%;
    width: 97vw;
  }
  .close-button {
    top: -15%;
  }
}

@media screen and (max-width: 600px) {
  .overlay-text {
    width: 100vw;
  }
  .overlay-text p{
    font-size: 14pt;
}
}
@media screen and (max-width: 500px) {
  .titlePS {
    font-size: 30pt;
    margin-left: 25px;
    margin-right: 25px;
  }
  .subtitlePS {
    margin-bottom: 50px;
    margin-left: 25px;
    margin-right: 25px;
  }
  .carousel-image {
    min-height: 50vh;
  }
  .overlay-text {
    top: 50%;
    font-size: 14px;
  }
  .buttonPS {
    border-radius: 5px;
    width: 125px;
    height: 30px;
    font-size: 12pt;
  }
}

@media screen and (max-height: 1350px) {
  .carousel-arrow {
    top: 40%;
  }
}

@media screen and (max-height: 1100px) {
  .carousel-arrow {
    top: 37%;
  }
}

@media screen and (max-height: 500px) {
  .carousel-arrow {
    top: 34%;
  }
}
