body {
  overflow-x: hidden;
}

.layoutPS {
  display: flex;
  flex-direction: column;
  padding-top: 100px;
  color: black;
  overflow-x: hidden;
  position: relative;
}

.titlePS {
  font-size: 4.5vw;
  margin-left: 100px;
}

.subtitlePS {
  font-size: 2.7vw;
  margin-top: 0px;
  margin-bottom: 100px;
  margin-left: 100px;
}

.carousel-image {
  width: 100%;
  height: 75vh;
  object-fit: cover;
  display: block;
}

.dot {
  display: inline-block;
  width: 12px;
  height: 12px;
  background-color: #ccc;
  border-radius: 50%;
  margin: 0 7px 75px 7px;
  cursor: pointer;
}

.dot.active-dot {
  background-color: #000;
  width: 30px;
  border-radius: 10px;
  transition: width 0.4s ease-out;
}

.dot.inactive-dot {
  background-color: #afafaf;
}

.carousel-wrapper {
  position: relative;
  width: 82vw;
  margin: 0 auto;
}

.carousel-arrow {
  position: absolute;
  top: 41%;
  transform: translateY(-50%);
  font-size: 25pt;
  font-weight: 900;
  cursor: pointer;
}

.alice-carousel__stage-item {
  transition: opacity 4s ease-out;
}

.carousel-arrow-prev {
  left: -5%;
}

.alice-carousel__stage-item.__active {
  opacity: 1 !important;
}

.carousel-arrow-next {
  right: -5%;
}

.alice-carousel__stage-item.__inactive {
  opacity: 0 !important;
}

.image-container {
  position: relative;
}

.image-container.blur img {
  transition: 0.6s ease-in-out;
  filter: brightness(25%);
}

.buttonPS {
  position: absolute;
  bottom: 0px;
  left: 50%;
  border-radius: 10px;
  transform: translateX(-50%);
  color: white;
  background-color: #408697;
  width: 20vw;
  height: 50px;
  font-size: 16pt;
  cursor: pointer;
  z-index: 10;
  border: none;
}

.buttonPS:hover {
  background-color: white;
  color: #346c7a;
  border: 2px solid #408697;
  transition: background-color 0.5s ease-out, color 0.4s ease-out, border 0.2s ease; /* Correct the transition property */
}
.close-button {
  position: absolute;
  top:3%;
  right:3%;
  color: white;
  background: none;
  border: none;
  font-size: 1.4vw;
  cursor: pointer;
  z-index: 20;
}
.close-button:hover {
  color: #afafaf;
}

.overlay-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  text-align: center;
  width: 95%;
  margin-top: 26px;
  padding: 0px 10px 10ppx 10px;
  opacity: 0;
  max-height: 90%;
  overflow-y: auto;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.overlay-text p {
  font-size: 1.2vw;
 padding-left: 30px;
 padding-right: 30px;
}

.overlay-text.fade-in {
  opacity: 1;
}

@media screen and (max-width: 1650px) {
  .titlePS {
    font-size: 50pt;
  }
  .subtitlePS {
    font-size: 35pt;
    margin-right: 50pt;
  }
  .buttonPS {
    height: 35px;
    font-size: 14pt;
  }
  .close-button {
    font-size: 20pt;
  }
  .overlay-text p {
    font-size: 16pt;
  }
}

@media screen and (max-width: 1000px) {
  .carousel-arrow {
    display: none;
  }
  .carousel-image {
    height: 55vh;
  }
  .carousel-wrapper {
    width: 100vw;
  }
  
  .titlePS {
    font-size: 40pt;
    margin-left: 50px;
    margin-right: 50px;
  }
  .subtitlePS {
    font-size: 30pt;
    margin-bottom: 50pt;
    margin-left: 50px;
    margin-right: 50px;
  }
  .buttonPS {
    height: 30px;
    font-size: 12pt;
  }
  .close-button {
    font-size: 16pt;
  }
  .overlay-text p {
    font-size: 14pt;
  }
}

@media screen and (max-width: 700px) {
  .titlePS {
    font-size: 25pt;
    margin-left: 50pt;
  }
  .subtitlePS {
    font-size: 20pt;
    margin-left: 50pt;
  }
  .buttonPS {
    height: 30px;
    font-size: 12pt;
  }
  .overlay-text p {
    font-size: 14pt;
   padding-left: 15px;
   padding-right: 15px;
  }
}
@media screen and (max-width: 550px){
.titlePS {
  margin-left: 20px;
  margin-right: 20px;
}
.subtitlePS {
  margin-left: 20px;
  margin-right: 20px;
}
}
@media screen and (max-width: 550px) {
  .buttonPS {
    width: 60vw;
    font-size: 14pt;
    border-radius: 5px;
  }
  .overlay-text p {

   padding-left: 5px;
   padding-right: 5px;
  }
}
