body {
  overflow-x: hidden; /* Prevent horizontal scrolling */
}

.layoutPS {
  display: flex;
  flex-direction: column;
  padding-top: 100px;
  color: black;
  overflow-x: hidden; /* Prevent overflow within layout */
  position: relative; /* Ensure relative positioning */
}

.titlePS {
  font-size: 4.5vw;
  margin-left: 100px;
}

.subtitlePS {
  font-size: 2.7vw;
  margin-top: 0px;
  margin-bottom: 100px;
  margin-left: 100px;
}

.carousel-image {
  width: 100%; 
  height: 75vh; /* Maintain aspect ratio */
  object-fit: cover;
  display: block;
}

.dot {
  display: inline-block;
  width: 12px;
  height: 12px;
  background-color: #ccc;
  border-radius: 50%;
  margin: 0 7px 75px 7px;
  cursor: pointer;
}

.dot.active-dot {
  background-color: #000;
  width: 30px;
  border-radius: 10px;
  transition: width 0.4s ease-out; /* Transition width and height */
}

.dot.inactive-dot {
  background-color: #afafaf;
}

.carousel-wrapper {
  position: relative; /* This is now the positioning context for the arrows */
  width: 82vw;
  margin: 0 auto;
}

.carousel-arrow {
  position: absolute;
  top: 41%;
  transform: translateY(-50%); /* This will vertically center the arrows */
  font-size: 25pt;
  font-weight: 900;
  cursor: pointer;
}

.alice-carousel__stage-item {
  transition: opacity 4s ease-out;
}

.carousel-arrow-prev {
  left: -5%; /* Adjust as needed */
}

.alice-carousel__stage-item.__active {
  opacity: 1 !important;
}

.carousel-arrow-next {
  right: -5%; /* Adjust as needed */
}

.alice-carousel__stage-item.__inactive {
  opacity: 0 !important;
}

.image-container {
  position: relative;
}

.image-container.blur img {
  transition: 0.6s ease-in-out;
  filter: brightness(25%);
}

.buttonPS {
  position: absolute;
  bottom: 0px;
  left: 50%;
  border-radius: 10px;
  transform: translateX(-50%);
  color: white;
  background-color: #408697;
  width: 20vw;
  height: 50px;
  font-size: 16pt;
  cursor: pointer;
  z-index: 10;
  border: none;
}

.close-button {
  position: absolute;
  top: 5px; /* Adjust top position as needed */
  right: 5px; /* Adjust right position as needed */
  color: white;
  background: none;
  border: none;
  font-size: 1.4vw;
  cursor: pointer;
  z-index: 20;
  display: none; /* Initially hidden */
}

.image-container:hover .close-button {
  display: block; 
}

.close-button:hover {
  color: rgb(192, 192, 192);
}


.overlay-text {
  position: absolute;
  top: 50%; /* Align vertically centered */
  left: 50%; /* Align horizontally centered */
  transform: translate(-50%, -50%);
  color: white;
  text-align: center;
  padding: 10px;
  opacity: 0;
  width: 75vw;
  height: 70vh; /* Limit height */
  overflow-y: auto; /* Enable vertical scrolling */
  overflow-x: hidden; /* Hide horizontal scrollbar */
  display: flex;
  flex-direction: column;
  justify-content: center; /* Center content vertically */
}

.overlay-text p {
  font-size: 1.2vw;
  margin: 0; /* Remove default margins */
}

.overlay-text.fade-in {
  opacity: 1;
}



.image-container:hover .close-button {
  display: block; 
}

@media screen and (max-width: 1650px) {
  .titlePS {
    font-size: 50pt;
  }
  .subtitlePS {
    font-size: 35pt;
    margin-right: 50pt;
  }
  .buttonPS {
    border-radius: 7px;
    width: 270px;
  }
  .close-button {
    font-size: 18pt;
  }
  .overlay-text p {
    font-size: 16pt;
  }
}

@media screen and (max-width: 1300px) {
  .overlay-text {
   top: 55%;
    width: 70vw;
  }
  .buttonPS {
    border-radius: 7px;
    width: 200px;
  }
  .close-button {
    right: -3%;
    top: -10%;
    font-size: 18pt;
  }
}

@media screen and (max-width: 1200px) {
  .close-button {
    top: -10%;
  }
  .overlay-text p {
    font-size: 14pt; /* Adjusted font size */
  }
  .close-button {
    font-size: 16pt;
  }
}
@media screen and (max-width: 1100px) {
  .close-button {
    top: -8%;
    font-size: 18pt;
  }
  .overlay-text {
    font-size: 14pt; 
}
}

@media screen and (max-width: 1000px) {
  .titlePS {
    font-size: 45pt;
  }
  .subtitlePS {
    font-size: 25pt;
  }
  .overlay-text  {
    width: 80vw;
  }
  .buttonPS {
    border-radius: 7px;
    width: 150px;
    height: 40px;
    font-size: 14pt;
  }
  .close-button {
    top: -15%;
    right: 3%;
    font-size: 18pt;
  }
  .carousel-image {
    height: 70vh; 
}

@media screen and (max-width: 900px) {
  .titlePS {
    font-size: 40pt;
    margin-left: 50px;
  }
  .subtitlePS {
    font-size: 20pt;
    margin-left: 50px;
  }
  .overlay-text  {
    top: 55%;
    width: 80vw;
  }
  .close-button {
    top: -8%;
  }
}
}

@media screen and (max-width: 850px) {
  .titlePS {
    font-size: 35pt;
  }
  .subtitlePS {
    font-size: 18pt;
  }
  .carousel-wrapper {
    width: 100vw; /* Set the width of the carousel */
  }
  
  .carousel-arrow-prev,
  .carousel-arrow-next {
    display: none;
  }
  .dot {
    top: -2%;
    width: 15px;
    height: 15px;
    margin: 0 10px 50px 10px;
  }
  .dot.active-dot {
    width: 33px;
    border-radius: 10px;
  }

  .overlay-text {
    top: 50%;
    width: 97vw;
  }
  .close-button {
    top: -15%;
  }
  .carousel-image {
    height: 65vh; 
}
}
@media screen and (max-width: 750px){
  .close-button {
    top: -10%;
  }
  .overlay-text {
    top: 52%;
  }
  .carousel-image {
    height: 60vh; 
}
  
}
@media screen and (max-width: 650px){
  .close-button {
    top: -8%;
  }
  .overlay-text {
    top: 55%;
  }
  .overlay-text p{
    font-size: 13pt;
  }
  .close-button {
    font-size:15pt ;
  }
  .carousel-image {
    height: 50vh; 
}
  
}

@media screen and (max-width: 500px) {
  .titlePS {
    font-size: 30pt;
    margin-left: 25px;
    margin-right: 25px;
  }
  .subtitlePS {
    margin-bottom: 50px;
    margin-left: 25px;
    margin-right: 25px;
  }
  .buttonPS {
    background-color: #408697;
    width: 75%;
    height: 40px;
  }
  
}


