.backgroundPS {
    background-color: #f6f6f6;
    background-size: cover;
    margin: 0;
    padding-bottom: 100px;
}

.layoutPS {
    display: flex;
    flex-direction: column;
    padding-top: 100px;
    color: black;
}

.titlePS {
    font-size: 60pt;
    margin-left: 100px;
}

.subtitlePS {
    font-size: 30pt;
    margin-top: 0px;
    margin-bottom: 100px;
    margin-left: 100px;
}

.carousel-container {
    position: relative;
    width: 100%;
    height: auto;
}

.alice-carousel__stage-item {
    transition: opacity 1s ease-in-out;
}

.alice-carousel__stage-item.__active {
    opacity: 1 !important;
}

.alice-carousel__stage-item.__inactive {
    opacity: 0 !important;
}

.dot {
    display: inline-block;
    width: 10px;
    height: 10px;
    background-color: #ccc;
    border-radius: 50%;
    margin: 0 5px;
    cursor: pointer;
}

.dot.active-dot {
    background-color: #000;
}

.dot.inactive-dot {
    background-color: #ccc;
}

.carousel-arrow {
    cursor: pointer;
    font-size: 2rem;
    user-select: none;
}
