.headingS {
  margin-left: 100px;
  margin-top: 150px;
  margin-bottom: 25px;
  font-size: 60pt;
}

.solutionsS {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 20px;
  min-height: 30vh;
}

.imageContainerS {
  position: relative;
  margin: 30px;
}

.imgS {
  height: 41vh;
  width: 24vw;
}
.imgS:hover {
  opacity: 0.5;
  cursor: pointer;
}

.textS {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.65);
  color: whitesmoke;
  padding: 15px;
  text-align: center;
  box-sizing: border-box;
}

.buttonContainerS {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-top: 20px;
  margin-bottom: 20px;
}

.buttonS {
  color: white;
  background-color: #374f59;
  border: 0px;
  border-radius: 15px;
  width: 290px;
  height: 70px;
  font-size: 22pt;
  cursor: pointer;
}

.button-hoverS {
  box-shadow: 1px 1px 20px #000000;
}


@media screen and (max-width: 1350px) {
  .imgS {
    height: 37vh;
  }
}

@media screen and (max-width: 1200px) {
  .imgS {
    height: 275px;
    width: 275px;
  }
}

@media screen and (max-width: 1000px) {
  .imgS {
    height: 250px;
    width: 250px;
  }
}

@media screen and (max-width: 900px) {
  .headingS {
    margin-left: 50px;
    margin-top: 50px;
    margin-bottom: 25px;
    font-size: 50pt;
  }

  .imgS {
    height: 200px;
    width: 200px;
  }
}

@media screen and (max-width: 700px) {
  .headingS {
    margin-left: 45px;
    margin-top: 50px;
    margin-bottom: 25px;
    font-size: 40pt;
  }

  .imgS {
    height: 250px;
    width: 250px;
  }
}
