.projectSL {
  display: flex;
  flex-direction: column;
  gap: 40px;
}
.subHeadingSL{
  font-size: 3.3vw;
  
}
.textSL{
margin-bottom: 40px;
margin-top: 20px;
font-size:1.3vw ;
}
.introSL{
font-size: 2.2vw;
margin-top: 75px;
margin-bottom: 50px;

}

.informationSL {
  margin-top: 25px;
  margin-bottom: 20px;

}

.rectangleSL {
  display: inline-block;
  width: 25vw;
  height: 2px;
  background: #408697;
}
p {
  font-size:1.3vw;
  margin: 0;
  padding: 5px 0;
}
.projectItem {
  display: flex;
  
  gap: 20px;
  margin-bottom: 75px;
}

.projectItem.left {
  flex-direction: row;
}

.projectItem.right {
  flex-direction: row-reverse;
}

.textContainer {
  flex: 1;
}

.imageContainer {
  width: 450px;
  height: 500px;
  display: flex;
  justify-content: center;
}

.projectImage {
  width: 450px;
  height: 400px;
  object-fit: cover;
}


  @media screen and (max-width: 1650px){
    .textSL{
      font-size:18pt
    }
    p {
      font-size:18pt;
    }
    .subHeadingSL{
      font-size: 35pt;
    }
    .introSL{
      font-size: 32px;
    }
  }
  @media screen and (max-width: 1200px){
    .textSL{
      font-size:16pt
    }
    p {
      font-size:16pt;
    }
    .informationSL {
      margin-right:0px ;
      margin-top: 20px;
    }
    .subHeadingSL{
      font-size: 30pt;
    }
    .introSL{
      font-size: 27px;
      margin-top: 50px;
      margin-bottom: 30px;
    }
  }
  @media screen and (max-width: 800px){
    .textSL{
      font-size:14pt
    }
    p {
      font-size:14pt;
    }
    .introSL{
      font-size: 25px;
      margin-top: 40px;
      margin-bottom: 25px;
    }
    .subHeadingSL{
      font-size: 25pt;
    }
    .projectItem {
      flex-direction: column;
    }
  
    .projectItem.right {
      flex-direction: column;
    }
  
    .projectItem.left {
      flex-direction: column;
    }
  }
  
  @media screen and (max-width: 600px){
    .subHeadingSL{
      font-size: 20pt;
    }
  }