
.listSD {
    padding: 100px;
    min-height: 85vh;
}

.projects-titleSD {
    font-size:  3.7vw;
    padding-top: 50px;
}
@media screen and (max-width: 1650px){
    .projects-titleSD {
        font-size:45pt;
    }
}
@media screen and (max-width: 1200px){
    .listSD {
        padding: 50px;
    }
    
    .projects-titleSD {
        font-size:40pt;
        padding-top: 100px;
    }
}
@media screen and (max-width: 800px){
    .projects-titleSD {
        font-size: 35pt;
    }
}
@media screen and (max-width: 750px){
    .projects-titleSD {
        padding-top: 80px;
    }
}
@media screen and (max-width: 600px){
    .projects-titleSD {
        font-size: 30pt;
    }
    .listSD {
        padding: 50px 25px;
    }

}

