.headingS {
  margin-left: 100px;
  margin-top: 50px;
  margin-bottom: 25px;
  font-size: 60pt;
}

.solutionsS {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 20px;
}

.imgS {
  height: 45vh;
  width: 27vw;
  margin: 10px;
}

.textS {
  padding-left: 1vw;
  margin-bottom: 25px;
  display: flex;
  flex-wrap: wrap;
  width: 27vw;
}

@media screen and (max-width: 1350px) {
  .imgS {
    height: 37vh;
  }
}
@media screen and (max-width: 1200px) {
  .imgS {
    height: 275px;
    width: 275px;
    margin: 10px;
  }
}
  @media screen and (max-width: 1000px) {
    .imgS {
      height: 250px;
      width: 250px;
      margin: 7px;
    }
  }
  @media screen and (max-width: 900px) {
    .headingS {
        margin-left: 50px;
        margin-top: 50px;
        margin-bottom: 25px;
        font-size: 50pt;
      }
    .imgS {
      height: 200px;
      width: 200px;
      margin: 7px;
    }
  }
  @media screen and (max-width: 700px) {
    .headingS {
        margin-left: 50px;
        margin-top: 50px;
        margin-bottom: 25px;
        font-size: 40pt;
      }
    .imgS {
      height: 200px;
      width: 200px;
      margin: 7px;
    }
  }

