.headingSH {
    margin-left: 100px;
    padding-top: 200px;
    margin-bottom: 25px;
    font-size: 4.5vw;
  }
  .descriptionSH{
    margin:25px 100px 25px 100px;
    font-size: 18pt;
  }
  
  .solutionsSH {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 20px;
    margin-bottom: 150px;
    margin-top: 50px;
  }
  
  .imageContainerSH {
    position: relative;
    margin: 30px;
  }
  
  .imgSH {
    height: 41vh;
    width: 24vw;
    object-fit: cover;
  }
  .imgSH:hover {
    opacity: 0.5;
    cursor: pointer;
  }
  
  .textSH {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.65);
    color: whitesmoke;
    padding: 15px;
    text-align: center;
    box-sizing: border-box;
  }
  
  .buttonContainerSH {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: 20px;
    margin-bottom: 20px;
  }
  
  .buttonSH {
    color: white;
    background-color: #408697;
    border: 0px;
    width: 400px;
    height: 90px;
    border-radius: 25px;
    font-size: 25pt;
    cursor: pointer;
  }
  
  .button-hoverSH {
    box-shadow: 1px 1px 20px #000000;
  }
  
  @media screen and (max-width: 1600px) {
    .headingSH {
      font-size: 50pt;
    }
  }
  @media screen and (max-width: 1350px) {
    .imgSH {
      height: 37vh;
    }
  }
  
  @media screen and (max-width: 1200px) {
    .imgSH {
      height: 275px;
      width: 275px;
    }
    .buttonSH {
      width: 350px;
      height: 80px;
      border-radius: 20px;
      font-size: 22pt;
    }
  }
  @media screen and (max-width: 1075px) {
    .imageContainerSH {
      margin: 10px;
    }
  }
  @media screen and (max-width: 1000px) {
    .headingSH {
      font-size: 45pt;
    }
  }
  
  @media screen and (max-width: 950px) {
    .imgSH {
      height: 27vw;
      width: 27vw;
    }
    .textSH {
      font-size: 14pt;
    }
  }
  @media screen and (max-width: 900px) {
    .headingSH {
      margin-left: 45px;
      padding-top: 150px;
      margin-bottom: 25px;
      font-size: 40pt;
    }
  }
  @media screen and (max-width: 800px) {
    .imgSH {
      height: 35vw;
      width: 75vw;
    }
    .imageContainerSH {
      margin-bottom: 20px;
    }
    .buttonSH {
      width: 300px;
      height: 65px;
      border-radius: 18px;
      font-size: 20pt;
    }
  } 
  @media screen and (max-width: 750px) {
    .headingSH {
      font-size: 35pt;
    }
  }
  @media screen and (max-width: 600px) {
    .headingSH {
      text-align: center;
      margin-left: 10px;
      margin-right: 10px;
    }
  
    .imgSH {
      height: 45vw;
      width: 75vw;
    }
    .buttonSH {
      width: 225px;
      height: 50px;
      border-radius: 16px;
      font-size: 18pt;
    }
  } 
  @media screen and (max-width: 500px) {
    .headingSH {
      font-size: 30pt;
    }
  }
  @media screen and (max-width: 450px) {
    .imgSH {
      height: 225px;
      width: 350px;
    }
    .buttonSH {
      width: 200px;
      height: 50px;
      border-radius: 14px;
      font-size: 16pt;
    }
  } 
  @media screen and (max-width: 400px) {
    .imgSH {
      width: 300px;
    }
    .textSH {
      font-size: 12pt;
    }
  } 
  @media screen and (max-width: 350px) {
    .imgSH {
      width: 250px;
    }
    .buttonSH {
      width: 150px;
      height: 50px;
      border-radius: 12px;
      font-size: 14pt;
    }
  } 
  @media screen and (max-width: 300px) {
    .imgSH {
      width: 225px;
    }
  } 