.projectSL {
    display: flex;
    flex-direction: column;
  }
  .subHeadingSL{
    font-size: 2.5vw;
  }
.textSL{
  margin-bottom: 40px;
  margin-top: 20px;
  font-size:1.2vw ;
}
  .informationSL {
    margin-top: 25px;
    margin-bottom: 20px;

  }
  
  .rectangleSL {
    display: inline-block;
    width: 25vw;
    height: 2px;
    background: #408697;
  }
  p {
    font-size:1.2vw;
    margin: 0;
    padding: 5px 0;
  }
  @media screen and (max-width: 1650px){
    .textSL{
      font-size:16pt
    }
    p {
      font-size:16pt;
    }
    .subHeadingSL{
      font-size: 35pt;
    }
  }
  @media screen and (max-width: 1200px){
    .textSL{
      font-size:14pt
    }
    p {
      font-size:14pt;
    }
    .informationSL {
      margin-right:0px ;
      margin-top: 20px;
    }
    .subHeadingSL{
      font-size: 30pt;
    }
  }
  @media screen and (max-width: 800px){
    .subHeadingSL{
      font-size: 25pt;
    }
  }
  @media screen and (max-width: 600px){
    .subHeadingSL{
      font-size: 20pt;
    }
  }